.editorViewer {
  flex: 0 1 100%;
  width: 100%;
  resize: none;
  padding: 10px;
  background-color: transparent;
  color: inherit;
  border-radius: 5px;
  border: none;
}

.editorViewer::-webkit-scrollbar {
  width: 10px;
}
.editorViewer::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.editorViewer::-webkit-scrollbar-thumb {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.editorViewer:focus {
  outline: none;
}
