.wrapper {
  flex: 1 0 30%;
  display: flex;
  gap: 5px;
}

.documentationTools {
  align-self: flex-start;
}

.documentationContentWrap {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.documentationContent {
  flex: 0 1 100%;
  resize: none;
}
