.header {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: rgb(138, 138, 138);
  color: white;
  transition: 0.2s;
}

.scroll {
  min-height: 30px;
  color: rgb(56, 56, 56);
  background-color: rgb(255, 255, 255);
}
