.header {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  min-height: 50px;
  transition: 0.2s;
}

.innerContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
  padding: 10px 15px;
}

.scroll {
  min-height: 30px;
  background-color: var(--grey-color);
}
