.footer {
  background-color: var(--red-color);
}

.innerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
  /* color: var(--white-color); */
}
