.wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  gap: 20px;
  align-self: flex-end;
  padding: 0;
  margin: 0 0 20px 0;
}

.listElement {
  list-style-type: none;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  text-align: center;
}

.link {
  font-weight: 700;
  font-size: 18;
  color: inherit;
}
