@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Mono';
  src: url('assets/fonts/SourceCodePro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mono';
  src: url('assets/fonts/SourceCodePro-Bold.ttf');
  font-weight: 700;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #303030;
  --grey-color: #181818;
  --grey-color2: #cfcfcf;
  --grey-color3: #b0b0b0;
  --green-color: #00b285;
  --black-color: #363636;
  --red-color: rgb(144, 34, 34);
  --white-color: #f5f5f5;
  --yellow-color: #ffc165;
}

body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: var(--white-color);
  background-color: var(--main-bg-color);
}
