.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 1280px;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 20px;
  align-self: center;
}

@media (max-width: 760px) {
  .main {
    padding: 10px 0;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

.link:hover {
  text-decoration: underline;
  color: var(--green-color);
}
